<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.dishbreak.github</string>
	<key>connections</key>
	<dict>
		<key>07AAF3CC-4DC1-414E-8966-9879484BE7F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5E9EED2-3274-42EB-ABE1-806F460800AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0B7DE37E-3B07-438C-8BCE-1310C69E44D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C638C224-F83D-4D49-9308-47DC0C168ABD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0F53131D-6B34-4D7C-8112-998F5C2AED4F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A18377A1-C5A7-4516-AD32-8A9A5449AB4B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>195C6BF5-0683-4A56-947B-FAFA9E38EA11</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BFD334CD-F655-4589-BC48-9535956FDC17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>28191692-145F-4C22-9856-79659AC79C02</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>114C67BF-6ECA-4E15-9532-1252AEE9C563</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>36C62F5C-F203-4F28-B0F6-B87487747AD6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12BB7260-2E56-4DB5-873D-E050A5886265</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3DFCB7DC-5C1E-4C19-A888-A82F846027F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B1CB50B0-8C45-45E7-BE1B-47627122B324</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E88CEBA-CD2C-412F-A336-9DB0B3EE507E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28191692-145F-4C22-9856-79659AC79C02</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>40E1C4FA-862A-4E09-8176-6A14715365EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE6E6B3C-A1E2-4B1F-904C-0E6873B8CEF6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>58141BD6-613A-4192-BFE7-A68BC7459270</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07AAF3CC-4DC1-414E-8966-9879484BE7F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6801047A-27E6-4D8B-BE06-374AA558DF5D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>195C6BF5-0683-4A56-947B-FAFA9E38EA11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70C9A313-0C10-492A-B846-81A8BC59E1C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B7DE37E-3B07-438C-8BCE-1310C69E44D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8BC229CA-590C-4730-A00A-FB18B9022996</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E77DC1F2-1253-4599-A84F-0A442781064C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A18377A1-C5A7-4516-AD32-8A9A5449AB4B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>356A427A-BF3D-485A-9809-BC38A207927F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B1CB50B0-8C45-45E7-BE1B-47627122B324</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36C62F5C-F203-4F28-B0F6-B87487747AD6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B5E9EED2-3274-42EB-ABE1-806F460800AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0D163B1-BD9B-4DFA-8FA7-1F34B10A4427</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BFD334CD-F655-4589-BC48-9535956FDC17</key>
		<array/>
		<key>C2D0FE02-675C-4700-984D-43C43582FE4A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E88CEBA-CD2C-412F-A336-9DB0B3EE507E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C638C224-F83D-4D49-9308-47DC0C168ABD</key>
		<array/>
		<key>CE6E6B3C-A1E2-4B1F-904C-0E6873B8CEF6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3DFCB7DC-5C1E-4C19-A888-A82F846027F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB05DD8C-037F-4C8D-9DB7-5170A8654064</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70C9A313-0C10-492A-B846-81A8BC59E1C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E77DC1F2-1253-4599-A84F-0A442781064C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F53131D-6B34-4D7C-8112-998F5C2AED4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EC1388C2-28BA-4448-B472-2C30FCA46F03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2D0FE02-675C-4700-984D-43C43582FE4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DB05DD8C-037F-4C8D-9DB7-5170A8654064</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6801047A-27E6-4D8B-BE06-374AA558DF5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>58141BD6-613A-4192-BFE7-A68BC7459270</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F13F7036-A27B-4884-BAF2-8A641CCCC977</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC1388C2-28BA-4448-B472-2C30FCA46F03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vishal Kotcherlakota</string>
	<key>description</key>
	<string>Workflows for Github</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Github Launcher</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8BC229CA-590C-4730-A00A-FB18B9022996</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>356A427A-BF3D-485A-9809-BC38A207927F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ghpulls</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>View My Pull Requests on Github</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E77DC1F2-1253-4599-A84F-0A442781064C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Created"},{"title":"Assigned","arg":"assigned"},{"title":"Mentioned","arg":"mentioned"},{"title":"Review Requested","arg":"review-requested"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Additional Options</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>0F53131D-6B34-4D7C-8112-998F5C2AED4F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>https://github.com/pulls/{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A18377A1-C5A7-4516-AD32-8A9A5449AB4B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Home"},{"title":"Pull Requests","arg":"pulls"},{"title":"Issues","arg":"issues"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Additional Options</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>B1CB50B0-8C45-45E7-BE1B-47627122B324</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ghrepo</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Retrieving results from Github API...</string>
				<key>script</key>
				<string>$HOME/go/bin/alfred-gh-repo list-repos</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Jump to Github repo</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CE6E6B3C-A1E2-4B1F-904C-0E6873B8CEF6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>5</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>G</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>40E1C4FA-862A-4E09-8176-6A14715365EB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>12BB7260-2E56-4DB5-873D-E050A5886265</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>repo_url</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3DFCB7DC-5C1E-4C19-A888-A82F846027F6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:repo_url}/{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>36C62F5C-F203-4F28-B0F6-B87487747AD6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Enter value in seconds</string>
				<key>text</key>
				<string>Set Cache Timeout</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>28191692-145F-4C22-9856-79659AC79C02</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python src/browse.py timeout "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>114C67BF-6ECA-4E15-9532-1252AEE9C563</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>timeout</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>C2D0FE02-675C-4700-984D-43C43582FE4A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3E88CEBA-CD2C-412F-A336-9DB0B3EE507E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo "$@" | go run ./cmd/ set-token</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C638C224-F83D-4D49-9308-47DC0C168ABD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Paste in token and press Enter</string>
				<key>text</key>
				<string>Set Github Token</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0B7DE37E-3B07-438C-8BCE-1310C69E44D1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>token</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>DB05DD8C-037F-4C8D-9DB7-5170A8654064</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>70C9A313-0C10-492A-B846-81A8BC59E1C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>go run ./cmd/ clear-token</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BFD334CD-F655-4589-BC48-9535956FDC17</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Set Github API Token","arg":"token","subtitle":"You'll need this to see any Github data."},{"title":"Clear API Token","arg":"clear","subtitle":"Unset the API token in the Keychain"},{"title":"Set Repo Cache Timeout","arg":"timeout","subtitle":"How often to clear the cache"},{"title":"Refresh Github Caches","arg":"refresh","subtitle":"Data gone stale? We'll fix you up."}]</string>
				<key>keyword</key>
				<string>ghsettings</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Configure Github Launcher</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>EC1388C2-28BA-4448-B472-2C30FCA46F03</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F13F7036-A27B-4884-BAF2-8A641CCCC977</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>clear</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>6801047A-27E6-4D8B-BE06-374AA558DF5D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>195C6BF5-0683-4A56-947B-FAFA9E38EA11</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>go run ./cmd/ flush-cache</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B5E9EED2-3274-42EB-ABE1-806F460800AB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Repo Flushed!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F0D163B1-BD9B-4DFA-8FA7-1F34B10A4427</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>07AAF3CC-4DC1-414E-8966-9879484BE7F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>refresh</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>58141BD6-613A-4192-BFE7-A68BC7459270</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>07AAF3CC-4DC1-414E-8966-9879484BE7F2</key>
		<dict>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>800</real>
		</dict>
		<key>0B7DE37E-3B07-438C-8BCE-1310C69E44D1</key>
		<dict>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>0F53131D-6B34-4D7C-8112-998F5C2AED4F</key>
		<dict>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>114C67BF-6ECA-4E15-9532-1252AEE9C563</key>
		<dict>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>12BB7260-2E56-4DB5-873D-E050A5886265</key>
		<dict>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>195C6BF5-0683-4A56-947B-FAFA9E38EA11</key>
		<dict>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>28191692-145F-4C22-9856-79659AC79C02</key>
		<dict>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>356A427A-BF3D-485A-9809-BC38A207927F</key>
		<dict>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>36C62F5C-F203-4F28-B0F6-B87487747AD6</key>
		<dict>
			<key>xpos</key>
			<real>780</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>3DFCB7DC-5C1E-4C19-A888-A82F846027F6</key>
		<dict>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>3E88CEBA-CD2C-412F-A336-9DB0B3EE507E</key>
		<dict>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>40E1C4FA-862A-4E09-8176-6A14715365EB</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>58141BD6-613A-4192-BFE7-A68BC7459270</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>800</real>
		</dict>
		<key>6801047A-27E6-4D8B-BE06-374AA558DF5D</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>70C9A313-0C10-492A-B846-81A8BC59E1C2</key>
		<dict>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>8BC229CA-590C-4730-A00A-FB18B9022996</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>A18377A1-C5A7-4516-AD32-8A9A5449AB4B</key>
		<dict>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>B1CB50B0-8C45-45E7-BE1B-47627122B324</key>
		<dict>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>B5E9EED2-3274-42EB-ABE1-806F460800AB</key>
		<dict>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>770</real>
		</dict>
		<key>BFD334CD-F655-4589-BC48-9535956FDC17</key>
		<dict>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>C2D0FE02-675C-4700-984D-43C43582FE4A</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>C638C224-F83D-4D49-9308-47DC0C168ABD</key>
		<dict>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>CE6E6B3C-A1E2-4B1F-904C-0E6873B8CEF6</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>DB05DD8C-037F-4C8D-9DB7-5170A8654064</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>E77DC1F2-1253-4599-A84F-0A442781064C</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>EC1388C2-28BA-4448-B472-2C30FCA46F03</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>F0D163B1-BD9B-4DFA-8FA7-1F34B10A4427</key>
		<dict>
			<key>xpos</key>
			<real>860</real>
			<key>ypos</key>
			<real>775</real>
		</dict>
		<key>F13F7036-A27B-4884-BAF2-8A641CCCC977</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>kotcherlakota.org</string>
</dict>
</plist>
