<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.dishbreak.github</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>Vishal Kotcherlakota</string>
	<key>description</key>
	<string>List GitHub Repos from an Organization</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Github Launcher</string>
	<key>objects</key>
	<array/>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict/>
	<key>webaddress</key>
	<string>kotcherlakota.org</string>
</dict>
</plist>
